// General
// NOTE styles on tag selectors
// ---------------------
// body { background: #F5F5F5; } (example)



// Bootstrap overrides
// NOTE supercharge bootstrap elements globally
// ---------------------
// .btn { font-style: italic; } (example)



// Helpers
// NOTE name them `%selector` so they won't be public classes
// NOTE then use `@extend %selector;` to apply styles
// ---------------------
%antialiased { -webkit-font-smoothing: antialiased; }



// Utilities
// NOTE use `u-` prefix for public classes
// ---------------------
// .u-uppercase { text-transform: uppercase; } (example)
